$background: #fefefe;
$primary-1: #f5f5f5;
$primary-2: #efefef;
$primary-3: #707070;
$primary-4: #000000;
$secondary-1: #216583;
$secondary-2: #498199;
$secondary-3: #293462;
$info: #0b83ff;
$success: #30d158;
$error: #ff375f;
$secondary-1-EDC: #369669;
$secondary-2-EDC: #dae0dd;
$secondary-3-EDC: #474646;
$Logo_Green: #82d7c5;
$Logo_Yellow: #ebb659;
$Logo-blue: #4e7de8;
$Logo_Purple: #7c8df6;
$Landing_Black: #333333;